<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="style.css" />
        <title>Template</title>
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item"> Home </a>
                    <a class="navbar-item"> Documentation </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"> More </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item"> About </a>
                            <a class="navbar-item"> Jobs </a>
                            <a class="navbar-item"> Contact </a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item"> Report an issue </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light"> Log in </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="hero is-small is-link">
            <div class="hero-body is-flex is-justify-content-space-evenly">
                <div class="is-align-self-center">
                    <p class="title">Medium hero</p>
                    <p class="subtitle">Medium subtitle</p>
                </div>
                <div class="mr-6">
                    <figure class="image">
                        <img src="https://images.unsplash.com/photo-1618359057154-e21ae64350b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlcnJpdG98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="" />
                    </figure>
                </div>
            </div>
        </section>
        <div class="container mt-6 mb-6">
            <div class="columns">
                <div class="column is-4 img1 has-background-info mr-3"></div>
                <div class="column">
                    <div class="columns">
                        <div class="column img2 has-background-success mr-3" ></div>
                        <div class="column img3 has-background-warning"></div>
                    </div>
                    <div class="columns">
                        <div class="column img4 has-background-danger mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="mt-6">
            <h2 class="title is-3 has-text-centered">Section card</h2>
            <div class="container is-flex is-justify-content-space-between">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">Lorem ipsum dolor sit amet.</div>
                    </div>
                    <!-- <div class="card-footer is-flex is-justify-content-space-between">
                        <div></div>
                        <div></div>
                    </div> -->
                </div>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">Lorem ipsum dolor sit amet.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">Lorem ipsum dolor sit amet.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">Lorem ipsum dolor sit amet.</div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
